<!-- license see http://www.openvstorage.com/licenses/opensource///-->
<section>
    <h2 data-i18n="ovs:vdisks.title"></h2>
    <div data-bind="pager: { items: vDisks, headers: vDiskHeaders, pagesize: 10,
                             enterViewport: loadVDisk, viewportRefresh: 5000, controls: true }">
        <table data-dummy="dummy">
            <tr data-part="vitem">
                <td>
                    <i data-bind="visible: loading" style="position: relative; left: -25px; margin-right: -15px;" class="fa fa-spinner fa-spin"></i>
                    <span data-bind="text: name"></span>
                </td>
                <td>
                    <span data-bind="lazyloader: { item: vsa, loadedObservable: 'loaded' }">
                        <span data-part="entry" data-bind="text: item().name()"></span>
                    </span>
                </td>
                <td><!--<span data-bind="text: vpool"></span>--></td>
                <td>
                    <span data-bind="lazyloader: { item: vMachine, loadedObservable: 'loaded' }">
                        <span data-part="entry" data-bind="text: item().name()"></span>
                    </span>
                </td>
                <td><span data-bind="text: size"></span></td>
                <td><span data-bind="text: storedData"></span></td>
                <td><span data-bind="text: cacheRatio"></span></td>
                <td data-bind="lazyloader: { item: iops }"></td>
                <td data-bind="lazyloader: { item: readSpeed }"></td>
                <td data-bind="lazyloader: { item: writeSpeed }"></td>
                <!--<td><span data-bind="text: FOC"></span></td>-->
                <td>
                    <i data-bind="click: function() { $root.rollback($data.guid()); }"  class="hand fa fa-camera fa-fw"></i>
                </td>
            </tr>
        </table>
    </div>
</section>
