<section>
    <h2 data-i18n="ovs:vmachines.title"></h2>
    <div data-bind="pager: { items: vMachines, headers: vMachineHeaders, pagesize: 10,
                             enterViewport: 'load', viewportRefresh: 5000, controls: true }">
        <table data-dummy="dummy">
            <tr data-part="vitem">
                <td>
                    <i data-bind="visible: loading" style="position: relative; left: -25px; margin-right: -15px;" class="fa fa-spinner fa-spin"></i>
                    <span data-bind="text: name"></span>
                </td>
                <td><span data-bind="text: vDisks().length"></span>
                </td>
                <td>
                    <span data-bind="visible: !storedData.initialized()"><i class="fa fa-spinner fa-spin"></i></span>
                    <span data-bind="visible: storedData.initialized()">
                        <span data-bind="text: storedData"></span> <span data-i18n="ovs:generic.mib"></span>
                    </span>
                </td>
                <td><span data-bind="text: cache"></span> %</td>
                <td>
                    <span data-bind="visible: !iops.initialized()"><i class="fa fa-spinner fa-spin"></i></span>
                    <span data-bind="visible: iops.initialized()">
                        <span data-bind="text: iops"></span>
                    </span>
                </td>
                <td>
                    <span data-bind="visible: !readSpeed.initialized()"><i class="fa fa-spinner fa-spin"></i></span>
                    <span data-bind="visible: readSpeed.initialized()">
                        <span data-bind="text: readSpeed"></span> <span data-i18n="ovs:generic.mibs"></span>
                    </span>
                </td>
                <td>
                    <span data-bind="visible: !writeSpeed.initialized()"><i class="fa fa-spinner fa-spin"></i></span>
                    <span data-bind="visible: writeSpeed.initialized()">
                        <span data-bind="text: writeSpeed"></span> <span data-i18n="ovs:generic.mibs"></span>
                    </span>
                </td>
                <td style="width: 35px;">
                    <i data-bind="click: function() { $root.clone($data.guid()); }"  class="hand glyphicon glyphicon-random"></i>
                </td>
                <td style="width: 35px;">
                    <i data-bind="click: function() { $root.deleteVM($data.guid()); }"  class="hand glyphicon glyphicon-trash"></i>
                </td>
            </tr>
        </table>
    </div>
</section>
