<!-- license see http://www.openvstorage.com/licenses/opensource/ -->
<section>
    <h2 data-i18n="ovs:vmachines.title"></h2>
    <div data-bind="pager: { items: vMachines, headers: vMachineHeaders, pagesize: 10, key: 'guid',
                             enterViewport: loadVMachine, viewportRefresh: 5000, controls: true }">
        <table data-dummy="dummy">
            <tr data-part="vitem">
                <td>
                    <i data-bind="visible: loading" style="position: relative; left: -25px; margin-right: -15px;"
                       class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i>
                    <span data-bind="text: name"></span>
                </td>
                <td data-bind="lazylist: { items: vpools, loadedObservable: 'loaded' }">
                    <a data-part="entry"
                       data-bind="text: name,
                                  attr: { href: $root.shared.routing.loadHash('vpool-detail', { guid: guid }) }"></a>
                </td>
                <td data-bind="lazylist: { items: vsas, loadedObservable: 'loaded' }">
                    <span data-part="entry" data-bind="text: name"></span>
                </td>
                <td><span data-bind="text: vDisks().length"></span></td>
                <td><span data-bind="text: storedData"></span></td>
                <td><span data-bind="text: cacheRatio"></span></td>
                <td data-bind="lazyloader: { item: iops }"></td>
                <td data-bind="lazyloader: { item: readSpeed }"></td>
                <td data-bind="lazyloader: { item: writeSpeed }"></td>
                <td>
                    <span data-bind="status: {
                                         colors: {
                                             green: $.inArray(failoverMode(), ['ok_standalone', 'ok_sync']) !== -1,
                                             yellow: failoverMode() == 'catch_up',
                                             red: failoverMode() == 'degraded'
                                         },
                                         defaultColor: 'lightgrey'
                                     }, tooltip: 'ovs:generic.status.foc.' + failoverMode()"></span>
                </td>
                <td>
                    <i data-bind="click: function() { $root.snapshot($data.guid()); }"  class="hand fa fa-fw" data-i18n="[html]ovs:icons.snapshot"></i>
                    <i data-bind="click: function() { $root.setAsTemplate($data.guid()); }, style: { color: isRunning() ? 'lightgrey' : 'black' },
                                  tooltip: isRunning() ? 'ovs:generic.messages.notrunningrequired' : '', css: { hand: !isRunning(), forbidden: isRunning() }"
                       class="fa fa-fw" data-i18n="[html]ovs:icons.setastemplate"></i>
                    <i data-bind="click: function() { $root.rollback($data.guid()); }, style: { color: isRunning() ? 'lightgrey' : 'black' },
                                  tooltip: isRunning() ? 'ovs:generic.messages.notrunningrequired' : '', css: { hand: !isRunning(), forbidden: isRunning() }"
                       class="fa fa-fw" data-i18n="[html]ovs:icons.rollback"></i>
                </td>
            </tr>
        </table>
    </div>
</section>
