<!-- license see http://www.openvstorage.com/licenses/opensource///-->
<div data-bind="css: { 'modal-content': modal() }">
    <div class="modal-header" data-bind="visible: modal()">
        <button type="button" class="close" data-bind="click: function() { close(false); }">&times;</button>
        <h3 data-bind="text: title"></h3>
    </div>
    <h2 data-bind="visible: !modal(), text: title"></h2>
    <div data-bind="if: modal()">
        <div class="modal-body" data-bind="compose: activeStep"></div>
    </div>
    <div data-bind="if: !modal()">
        <div class="quote" data-bind="compose: activeStep"></div>
    </div>
    <div data-bind="css: { 'modal-footer': modal() }">
        <button type="button" class="btn btn-default pull-left"
                data-bind="click: function() { close(false); }" data-i18n="ovs:generic.cancel"></button>
        <button type="button" class="btn btn-default"
                data-bind="visible: hasPrevious(), click: previous" data-i18n="[html]ovs:generic.previous"></button>
        <button type="button"  class="btn btn-primary"
                data-bind="css: { disabled: !hasNext() }, visible: !hasFinish(), click: next" data-i18n="[html]ovs:generic.next"></button>
        <button type="button"  class="btn btn-primary"
                data-bind="visible: hasFinish(), click: finish" data-i18n="ovs:generic.finish"></button>
    </div>
</div>