<div style="min-width: 700px;">
    <h4 style="margin-top: 5px;">Please provide the required information</h4>
    <div>
        <p>
            Enter the requested information carefully.
        </p>
        <form role="form form-horizontal" class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-3 control-label" for="currentpassword">Current password</label>
                <div class="col-lg-4">
                    <input type="password" id="currentpassword" class="autofocus form-control" data-bind="value: currentPassword, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="newpassword">New password</label>
                <div class="col-lg-4">
                    <input type="password" id="newpassword" class="autofocus form-control" data-bind="value: newPassword, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="newpassword2">Retype</label>
                <div class="col-lg-4">
                    <input type="password" id="newpassword2" class="autofocus form-control" data-bind="value: newPassword2, valueUpdate: 'afterkeydown'">
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-warning" data-bind="visible: !canContinue().value">
        <p data-bind="text: canContinue().reason"></p>
    </div>
</div>