<section>
    <h2>Welcome to Open vStorage</h2>
    <blockquote>Open vStorage is the next generation storage</blockquote>
    <div class="alert alert-danger">
        <h4>Warning</h4>
        <p>
            This website is still in heavy development.
        </p>
    </div>
    <div class="alert alert-info">
        <h4>Info</h4>
        <p>
            The dashboard can be reached without logging in at this moment. This is for debugging purposes.
        </p>
    </div>
</section>