<section>
    <h2><span data-bind="html: displayname"></span></h2>
    <blockquote data-bind="html: description"></blockquote>
    <form class="form-horizontal" role="form" data-bind="submit: login, visible: !loggedin()">
        <div class="form-group">
            <label class="col-lg-1 control-label" for="inputUsername">Username</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username"
                       data-bind="value: username, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-1 control-label" for="inputPassword">Password</label>
            <div class="col-lg-2">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                       data-bind="value: password, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-10" style="padding-top: 5px;">
                <button type="submit" class="btn btn-primary" style="margin-top: -3px;">Sign in</button>
                <span class="alert alert-danger" data-bind="visible: failed()" style="padding: 8px; margin-left: 15px;">
                    The username/password combination were invalid or could not be validated.
                </span>
            </div>
        </div>
    </form>
    <div class="alert alert-success" data-bind="visible: loggedin()">
      <h4>Welcome, <span data-bind="text: username"></span></h4>
      <p>
          Use the navigation to browse trough the interface.
      </p>
    </div>
</section>