<section>
    <h2><span data-bind="html: displayname"></span></h2>
    <blockquote data-bind="html: description"></blockquote>
    <div data-bind="pager: { items: vmachines, headers: vmachine_headers }">
        <table data-dummy="dummy">
            <tr data-part="vitem">
                <td data-bind="text: guid"></td>
                <td data-bind="text: name"></td>
                <td><a data-bind="click: load">Load</a></td>
            </tr>
        </table>
    </div>
</section>