Source: openvstorage
Maintainer: OpenvStorage Support Team <support@openvstorage.com>
Standards-Version: 3.9.4.0
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7.2), debhelper (>= 9)

Package: openvstorage-core
Architecture: amd64
Pre-Depends: python (>= 2.7.2)
Depends: alba, aptdaemon, arakoon (>= 1.9.0), arakoon (<< 1.10), at,
 devscripts, ipython, libev4 (>= 1:4.11-1), lsscsi (>= 0.27-2),
 memcached (>= 1.4.7), openssh-server, openvstorage-extensions (>= 0.2.0),
 procps, python-billiard (>= 3.3.0.20), python-billiard (<< 3.3.1),
 python-boto, python-celery (= 3.1.23-5), python-celery-common (= 3.1.23-5),
 python-click, python-datadiff, python-dev (>= 2.7.5), python-influxdb, python-kombu (>= 3.0.7), python-kombu (<< 3.1),
 python-librabbitmq (>= 1.5.2), python-memcache (>= 1.47-2), python-paramiko,
 python-pika, python-protobuf, python-pyinotify, python-pyudev, python-redis,
 python-requests (>=2.9.1), python-rpyc, python-six, python-suds-jurko, python-ujson,
 rabbitmq-server (>= 3.2.4), python-yaml, redis-server, sshpass, sudo, volumedriver-no-dedup-server
Recommends: avahi-utils (>= 0.6.31), ntp, openvpn
Description: OpenvStorage core
 Core components for the Open vStorage product

Package: openvstorage-webapps
Architecture: amd64
Pre-Depends: openvstorage-core (= ${binary:Version})
Depends: gunicorn (>= 0.15.0-1), nginx (>= 1.2.6), openvstorage-extensions (>= 0.2.0),
         python-django (>= 1.5.1-2), python-djangorestframework (= 2.3.12-1), python-gevent (>= 0.13.0-1build2), python-markdown (>= 2.3.1-1)
Description: OpenvStorage Web Applications
 Web components for the Open vStorage product

Package: openvstorage
Architecture: amd64
Pre-Depends: openvstorage-core (= ${binary:Version}), openvstorage-webapps (= ${binary:Version})
Description: OpenvStorage
 Open vStorage umbrella package
