Source: openvstorage
Maintainer: Kenneth Henderick <kenneth.henderick@openvstorage.com>
Standards-Version: 3.9.4.0
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7.2), debhelper (>= 9)

Package: openvstorage-core
Architecture: amd64
Pre-Depends: python (>= 2.7.2)
Depends: aptdaemon, rabbitmq-server (>= 3.2.4), python-memcache (>= 1.47-2), memcached (>= 1.4.7),
 volumedriver-no-dedup-server, arakoon (>= 1.9.0), arakoon (<< 1.10), alba, lsscsi (>= 0.27-2),
 python-dev (>= 2.7.5), python-pyinotify, sudo, libev4 (>= 1:4.11-1), python-boto, python-suds-jurko,
 python-datadiff, ipython, devscripts, openssh-server, python-paramiko, python-rpyc, python-librabbitmq (>= 1.5.2),
 python-kombu (>= 3.0.7), python-kombu (<< 3.1), python-celery (= 3.1.23-5), python-celery-common (= 3.1.23-5),
 python-pika, python-six, python-protobuf, python-pyudev, sshpass, at,
 python-billiard (>= 3.3.0.20), python-billiard (<< 3.3.1),
 python-requests (>=2.9.1), redis-server, python-redis, python-ujson,
 openvstorage-extensions (>= 0.1.0)
Recommends: avahi-utils (>= 0.6.31), openvpn, ntp
Description: OpenvStorage core
 Core components for the Open vStorage product

Package: openvstorage-webapps
Architecture: amd64
Pre-Depends: openvstorage-core (= ${binary:Version})
Depends: python-django (>= 1.5.1-2), nginx (>= 1.2.6), python-djangorestframework (= 2.3.12-1),
 gunicorn (>= 0.15.0-1), python-gevent (>= 0.13.0-1build2), python-markdown (>= 2.3.1-1),
 openvstorage-extensions
Description: OpenvStorage Web Applications
 Web components for the Open vStorage product

Package: openvstorage
Architecture: amd64
Pre-Depends: openvstorage-core (= ${binary:Version}), openvstorage-webapps (= ${binary:Version})
Description: OpenvStorage
 Open vStorage umbrella package
