<!-- license see http://www.openvstorage.com/licenses/opensource/ -->
<div>
    <nav class="navbar navbar-default navbar-fixed-top" data-bind="visible: shared.mode() == 'full'">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only" data-i18n="ovs:generic.togglenavigation"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-bind="attr: { href: routing.loadHash('dashboard') }" data-i18n="ovs:title"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash, 'data-i18n': titlecode }, text: title"></a>
                    </li>
                </ul>
                <!-- below: navbar-right has float: right behavior -->
                <ul class="nav navbar-nav navbar-right" data-bind="visible: shared.authentication.loggedIn">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-i18n="ovs:generic.user"></span>: <i><span data-bind="text: shared.authentication.username"></span></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class="hand" data-bind="click: changePassword" data-i18n="ovs:generic.changepassword"></a></li>
                            <li><a class="hand" href="/api/customer" data-i18n="ovs:generic.customerapi"></a></li>
                            <li class="divider"></li>
                            <li><a class="hand" data-bind="click: shared.authentication.logout" data-i18n="ovs:generic.logout"></a></li>
                        </ul>
                    </li>
                </ul>
                <p class="navbar-text navbar-right" data-bind="visible: router.isNavigating">
                    <i class="fa fa-spinner fa-spin"></i>
                </p>
            </div>
        </div>
    </nav>
    <div class="container page-host" data-bind="css: { 'page-host': shared.mode() == 'full' }, router: { cacheViews: true }"></div>
</div>
