[Unit]
Description=Watcher for the configuration cluster
Wants=nginx.service ovs-scheduled-tasks<_SERVICE_SUFFIX_>.service ovs-volumerouter-consumer<_SERVICE_SUFFIX_>.service ovs-webapp-api<_SERVICE_SUFFIX_>.service ovs-workers<_SERVICE_SUFFIX_>.service

[Service]
Type=simple
Environment=PYTHONPATH=/opt/OpenvStorage
# The watcher will block until all services are running
ExecStartPre=/usr/bin/python /opt/OpenvStorage/ovs/extensions/generic/watcher.py config wait
# The waiter will block until one of the services is not reachable anymore
ExecStart=/usr/bin/python /opt/OpenvStorage/ovs/extensions/generic/watcher.py config check
Restart=on-failure
TimeoutStopSec=3600

[Install]
WantedBy=multi-user.target
