[Unit]
Description=Open vStorage scheduled tasks
After=ovs-watcher-framework.service
BindsTo=ovs-watcher-framework.service
SyslogIdentifier=%N

[Service]
Type=simple
User=ovs
Group=ovs
WorkingDirectory=/opt/OpenvStorage
ExecStart=/usr/bin/celery beat -A ovs.celery_run -l debug -S ovs.celery_beat.DistributedScheduler
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target ovs-watcher-framework.service
