[Unit]
Description=ovs dtl
Requires=<ADDITIONAL_DEPENDENCIES>
Wants=ovs-watcher-volumedriver<_SERVICE_SUFFIX_>.service
After=ovs-watcher-volumedriver<_SERVICE_SUFFIX_>.service

[Service]
Type=simple
ExecStart=/usr/bin/failovercachehelper --config <CONFIG_PATH> --logrotation --logsink <LOG_SINK>
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
