[Unit]
Description=Open vStorage support agent
After=local-fs.target network-online.target

[Service]
Type=simple
SyslogIdentifier=%N
Environment=PYTHONPATH=/opt/OpenvStorage
ExecStart=/usr/bin/python2 /opt/OpenvStorage/ovs/extensions/support/agent.py
Restart=on-failure
TimeoutStopSec=3600

[Install]
WantedBy=multi-user.target
