[Unit]
Description=ovs metadataserver
Wants=ovs-volumedriver_<VPOOL_NAME>.service
Before=ovs-volumedriver_<VPOOL_NAME>.service

[Service]
Type=simple
ExecStart=/usr/bin/metadata_server.sh --config-file=/opt/OpenvStorage/config/storagedriver/metadataserver/<VPOOL_NAME>_<SERVICE_NUMBER>.json --logrotation --logfile=/var/log/ovs/volumedriver/metadataserver_<VPOOL_NAME>_<SERVICE_NUMBER>.log
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
