[Unit]
Description=ovs volumedriver
Requires=<ADDITIONAL_DEPENDENCIES>
Wants=ovs-watcher-volumedriver<_SERVICE_SUFFIX_>.service
After=ovs-watcher-volumedriver<_SERVICE_SUFFIX_>.service

[Service]
Type=simple
Environment=METADATASTORE_BITS=6
ExecStartPre=/bin/bash -c "if [ ! -d /opt/OpenvStorage/run ]; then mkdir /opt/OpenvStorage/run; chown ovs:ovs /opt/OpenvStorage/run; fi; touch /opt/OpenvStorage/run/storagedriver_<VPOOL_NAME>.lock"
ExecStart=/usr/bin/volumedriver_fs.sh -f --config <CONFIG_PATH> --lock-file /opt/OpenvStorage/run/storagedriver_<VPOOL_NAME>.lock --logrotation --mountpoint <VPOOL_MOUNTPOINT> --logsink <LOG_SINK> -o big_writes -o sync_read -o allow_other -o use_ino -o default_permissions -o uid=<OVS_UID> -o gid=<OVS_GID> -o umask=0002
ExecStop=/bin/bash -c "if mount | grep <VPOOL_MOUNTPOINT>; then fusermount -u <VPOOL_MOUNTPOINT>; fi "
ExecStopPost=/bin/bash -c "for i in `seq 0 9`; do if mount | grep <VPOOL_MOUNTPOINT>; then sleep 10s; else break; fi; done; if mount | grep <VPOOL_MOUNTPOINT>; then umount -l <VPOOL_MOUNTPOINT>; ps xa |grep volumedriver_fs |grep -v grep |awk '{print $1}' |xargs kill; fi"
Restart=on-failure
RestartSec=360
TimeoutStopSec=<KILL_TIMEOUT>
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
