[Unit]
Description=ovs ganesha
Requires=ovs-watcher-volumedriver.service
After=ovs-watcher-volumedriver.service

[Service]
Type=simple
Environment=VFS_FSAL_LOGFILE=/var/log/ovs/volumedriver/vpool.log
ExecStartPre=/bin/bash -c 'if [ -f <CEPH_CONF> ] ;then ceph-fuse <DFS_MOUNTPOINT> --conf=<CEPH_CONF>; echo "Mounted ceph, starting volumedriver..."; fi'
ExecStart=/usr/bin/ganesha-cf
ExecStopPost=/bin/bash -c 'if [ -f <CEPH_CONF> ] ;then echo "Stopped volumedriver, cleaning up mountpoints..."; umount <DFS_MOUNTPOINT>; echo "... done"; fi'
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
