[Unit]
Description=Open vStorage workers
After=ovs-watcher-framework.service
BindsTo=ovs-watcher-framework.service
SyslogIdentifier=%N

[Service]
Type=simple
Group=ovs
User=ovs
WorkingDirectory=/opt/OpenvStorage
ExecStartPre=/usr/bin/python /opt/OpenvStorage/ovs/celery_run.py clear_cache
ExecStart=/usr/bin/celery worker -A ovs.celery_run -l debug -Q ovs_generic,ovs_<WORKER_QUEUE> --autoscale=8,2 -Ofair
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target ovs-watcher-framework.service
