[Unit]
Description=Watcher for Open vStorage master services
After=local-fs.target network-online.target

[Service]
Type=simple
SyslogIdentifier=%N
Environment=PYTHONPATH=/opt/OpenvStorage
# The watcher will block until all services are running
ExecStartPre=/usr/bin/python /opt/OpenvStorage/ovs/extensions/generic/watcher.py framework wait
# The waiter will block until one of the services is not reachable anymore
ExecStart=/usr/bin/python /opt/OpenvStorage/ovs/extensions/generic/watcher.py framework check
Restart=on-failure
TimeoutStopSec=3600

[Install]
WantedBy=multi-user.target
