[Unit]
Description=ovs volumedriver
Requires=<ADDITIONAL_DEPENDENCIES>
Wants=ovs-watcher-volumedriver<_SERVICE_SUFFIX_>.service
After=ovs-watcher-volumedriver<_SERVICE_SUFFIX_>.service

[Service]
Type=simple
ExecStartPre=/bin/bash -c "if [ ! -d /opt/OpenvStorage/run ]; then mkdir /opt/OpenvStorage/run; chown ovs:ovs /opt/OpenvStorage/run; fi; touch /opt/OpenvStorage/run/storagedriver_<VPOOL_NAME>.lock"
ExecStartPost=/bin/bash -c "if [ '<HYPERVISOR_TYPE>' = 'VMWARE' ] ; then grep -q '<VPOOL_MOUNTPOINT> ' /etc/exports || echo '<VPOOL_MOUNTPOINT> *(rw,fsid=<UUID>,async,no_root_squash,no_subtree_check)' >> /etc/exports; exportfs -u *:<VPOOL_MOUNTPOINT>; exportfs *:<VPOOL_MOUNTPOINT>; fi "
ExecStart=/usr/bin/volumedriver_fs.sh -f --config <CONFIG_PATH> --lock-file /opt/OpenvStorage/run/storagedriver_<VPOOL_NAME>.lock --logrotation --mountpoint <VPOOL_MOUNTPOINT> --logsink /var/log/ovs/volumedriver/<VPOOL_NAME>.log -o big_writes -o sync_read -o allow_other -o use_ino -o default_permissions -o uid=<OVS_UID> -o gid=<OVS_GID> -o umask=0002
ExecStop=/bin/bash -c "if [ '<HYPERVISOR_TYPE>' = 'VMWARE' ] ; then exportfs -u *:<VPOOL_MOUNTPOINT>; grep -v '<VPOOL_MOUNTPOINT> *' /etc/exports > /etc/exports_ovs && mv /etc/exports_ovs /etc/exports; fi; if mount | grep <VPOOL_MOUNTPOINT>; then fusermount -u <VPOOL_MOUNTPOINT>; fi "
ExecStopPost=/bin/bash -c "for i in `seq 0 9`; do if mount | grep <VPOOL_MOUNTPOINT>; then sleep 10s; else break; fi; done; if mount | grep <VPOOL_MOUNTPOINT>; then umount -l <VPOOL_MOUNTPOINT>; ps xa |grep volumedriver_fs |grep -v grep |awk '{print $1}' |xargs kill; fi"
Restart=on-failure
RestartSec=360
TimeoutStopSec=<KILL_TIMEOUT>

[Install]
WantedBy=multi-user.target
