[Unit]
Description=Open vStorage volumerouter consumer
After=ovs-watcher-framework.service
BindsTo=ovs-watcher-framework.service
SyslogIdentifier=%N

[Service]
Type=simple
Environment=PYTHONPATH=/opt/OpenvStorage
WorkingDirectory=/opt/OpenvStorage
ExecStart=/usr/bin/python2 /opt/OpenvStorage/ovs/extensions/rabbitmq/consumer.py volumerouter --durable
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target ovs-watcher-framework.service
