[Unit]
Description=logstash instance
After=syslog.target remote-fs.target

[Service]
Type=forking
PIDFile=/var/run/logstash.pid
ExecStart=/bin/sh -c "/etc/init.d/logstash start"
ExecStop=/bin/sh -c "/etc/init.d/logstash stop"
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
