#!/usr/bin/make -f

# This file was manually created
# Mon, 04 Nov 2013 21:00:58 +0000


openvstorage-core: 
	dh_testdir
	dh_testroot
	dh_installdirs  -p$@
	dh_installchangelogs  -p$@  $@.changelog
#	dh_installdocs  -p$@
#	dh_installexamples -p$@
# using dh_installdirs and dh_install for this task
	dh_install -p$@
	dh_installman  -p$@
	dh_link  -p$@
	dh_strip  -p$@
	dh_compress  -p$@
	dh_fixperms  -p$@
	dh_installdeb -p$@
	dh_shlibdeps  -p$@
	dh_gencontrol  -p$@
	dh_md5sums  -p$@
	dh_builddeb  -p$@
	dh_clean -p$@

openvstorage-webapps: 
	dh_testdir
	dh_testroot
	dh_installdirs  -p$@
	dh_installchangelogs  -p$@  $@.changelog
	dh_install -p$@
	dh_installman  -p$@
	dh_link  -p$@
	dh_strip  -p$@
	dh_compress  -p$@
	dh_fixperms  -p$@
	dh_installdeb -p$@
	dh_shlibdeps  -p$@
	dh_gencontrol  -p$@
	dh_md5sums  -p$@
	dh_builddeb  -p$@
	dh_clean -p$@

openvstorage: 
	dh_testdir
	dh_testroot
	dh_installdirs  -p$@
	dh_installchangelogs  -p$@
	dh_install -p$@
	dh_installman  -p$@
	dh_link  -p$@
	dh_strip  -p$@
	dh_compress  -p$@
	dh_fixperms  -p$@
	dh_installdeb -p$@
	dh_shlibdeps  -p$@
	dh_gencontrol  -p$@
	dh_md5sums  -p$@
	dh_builddeb  -p$@

clean:
	if [ -f debian/files ]; then rm debian/files; fi

binary: openvstorage-core openvstorage-webapps openvstorage

.PHONY: clean build
