<!--To be used with a composing view of either block cache or fragment cache under vpoolBackendInfo().caching_info-->
<!--Parent view is the StorageDriver viewmodel-->
<div>
    <span data-part="cacheTypeTranslation" data-bind="translate: 'ovs:vpools.caching_types.' + $parent.stringifiedCaching($data)"></span>
    <!-- ko ifnot: $parent.stringifiedCaching($data) === 'none' -->
        <span data-i18n="ovs:generic.on"></span>
        <!-- ko if: [null, undefined].contains(backend_info) -->
            <span data-i18n="ovs:generic.local"></span>
        <!-- /ko -->
        <!-- ko ifnot: [null, undefined].contains(backend_info) -->
            <span data-bind="text: backend_info.name"></span>
            (<span data-i18n="ovs:generic.preset"></span> &quot;<span data-bind="text: backend_info.preset"></span>&quot;)
            <a data-bind="attr: {
                              href: 'https://' + backend_info.connection_info.host + ':' + backend_info.connection_info.port + '/' + $root.shared.routing.loadHash('backend-alba-detail', { guid: backend_info.backend_guid }),
                              target: (backend_info.connection_info.local !== false ? '' : '_blank')
                          }">
                <i class="fa fa-fw hand" data-i18n="[html]alba:icons.external_link" data-bind="visible: backend_info.connection_info.local === false"></i> <span data-bind="text: backend_info.name" class="hand"></span>
            </a>
            (<span data-i18n="ovs:generic.preset"></span> &quot;<span data-bind="text: backend_info.preset"></span>&quot;)
        <!-- /ko -->
        <!-- ko if: quota !== undefined && quota > 0 -->
            <br /><span data-i18n="ovs:generic.cache_quota"></span>: <span data-bind="text: $root.formatBytes(quota)"></span>
        <!-- /ko -->
    <!-- /ko -->
</div>

