<!-- license see http://www.openvstorage.com/licenses/opensource/ -->
<div style="min-width: 600px;">
    <p>
        <span data-i18n="ovs:wizards.clone.confirm.clonename"></span> &quot;<span data-bind="text: data.name"></span>&quot;<br />
        <span data-i18n="ovs:wizards.clone.confirm.cloneamount"></span> <span data-bind="text: data.amount"></span>
    </p>
    <p data-i18n="ovs:wizards.clone.confirm.verifysnapshots"></p>
    <p>
        <span data-i18n="ovs:wizards.clone.confirm.snapshot"></span> <span data-bind="text: data.snapshotDisplay"></span>
    </p>
</div>
