<!-- license see http://www.openvstorage.com/licenses/opensource///-->
<div style="min-width: 700px;">
    <h4 style="margin-top: 5px;" data-i18n="ovs:wizards.clone.gather.title"></h4>
    <div data-bind="visible: canContinue().value">
        <form role="form form-horizontal" class="form-horizontal">
            <p data-i18n="ovs:wizards.clone.gather.basicinfo"></p>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="name" data-i18n="ovs:wizards.clone.gather.name"></label>
                <div class="col-lg-4">
                    <input type="text" id="name" class="autofocus form-control" data-bind="value: data.name, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="amount" data-i18n="ovs:wizards.clone.gather.amount"></label>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: function() { data.amount(Math.max(1, parseInt('0' + data.amount(), 10) - 1)); }">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" id="amount" class="form-control" data-bind="value: data.amount, valueUpdate: 'afterkeydown'">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: function() { data.amount(parseInt('0' + data.amount(), 10) + 1); }">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <p data-i18n="ovs:wizards.clone.gather.selectsnapshots"></p>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="snapshot" data-i18n="ovs:wizards.clone.gather.snapshot"></label>
                <div class="col-lg-8">
                    <select data-bind="options: data.vm().snapshots(),
                                       optionsText: function(item) {
                                           if (!!item.label) {
                                               return item.label + (item.is_consistent ? ' (consistent)' : '');
                                           }
                                           var date = new Date(item.timestamp * 1000);
                                           return date.toLocaleDateString() + ' ' + date.toLocaleTimeString() + (item.is_consistent ? ' (consistent)' : '');
                                       },
                                       value: data.snapshot" class="form-control" id="snapshot">
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-warning" data-bind="visible: !canContinue().value">
        <p data-bind="text: canContinue().reason"></p>
    </div>
</div>
